<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- Add this to the <head> section of your index.html or layout file -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

  <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

</head>
<body>
  <header>
    <nav>
      <ul>
        {% for item in site.data.navigation.main %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}  <!-- This renders the content of the page -->
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
